<h2>Pulp Tasks</h2>

<div class="col-md-12 list-view-container">
    <div infinite-scroll="load_more()" infinite-scroll-distance="2"
         infinite-scroll-disabled="loading"
         class="list-group">
        <li ng-repeat="item in items" class="row list-group-item">
            <div class="col-xs-12">
                {{ item.state }}
                -
                <strong>{{ item.title }}</strong>
            </div>
            <div class="col-xs-12">
                {{ item.task_id }}
            </div>
            <div class="col-xs-12" ng-if="item.finish_time">
                Finished at {{ item.finish_time }}
            </div>
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li ng-repeat="repo in item.repos">
                        <a ui-sref="repository({repo_id: repo })">
                            {{ repo }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <span ng-repeat="tag in item.tags" class="badge">
                    {{ tag }}
                <span>
            </div>
        </li>
    </div>
    <div ng-show="loading" class="spinner spinner-lg"></div>
</div>
