<ol class="breadcrumb">
    <li>
        <a ui-sref="repositories">Repositories</a>
    </li>
    <li class="active">
        {{ repo.id }}
    </li>
</ol>

<h2>{{ repo.id }}</h2>

<div ng-show="loading" class="spinner spinner-lg"></div>

<p>{{ repo.description }}</h2>

<ul class="nav nav-tabs">
    <li ng-repeat="content_type in content_types"
        ng-class="{active: selected_content == content_type}">
        <a href="" ng-click="select_content(content_type)">{{ content_type }}</a>
    </li>
</ul>

<div pf-list-view config="config" items="all_content[selected_content]">
    <div ng-switch="item.unit_type_id">

        <code ng-switch-when="docker_blob">
            {{ item.metadata.digest }}
        </code>

        <code ng-switch-when="docker_image">
            {{ item.metadata.image_id }}
        </code>

        <div ng-switch-when="docker_manifest">

            <div class="row">
                <div class="col-xs-12">
                    <strong>
                        {{ item.metadata.name }}:{{ item.metadata.tag }}
                    </strong>
                </div>
                <div class="col-xs-12">
                    <code>{{ item.metadata.digest }}</code>
                    <code>manifest</code>
                </div>
                <div class="col-xs-12">
                    <ul>
                    <li ng-repeat="layer in item.metadata.fs_layers">
                        <code>{{ layer.blob_sum }}</code>
                        <code>blob</code>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-switch-when="docker_tag">
            <div class="row">
                <div class="col-xs-12">
                    <strong>{{ item.metadata.name }}</strong>
                </div>
                <div class="col-xs-12">
                    <code>{{ item.metadata.manifest_digest }}</code>
                    <code>manifest</code>
                </div>
            </div>
        </div>

        <code ng-switch-default>
            {{ item.unit_id }}
        </code>

    </div>
</div>

<div ng-show="content_loading" class="spinner spinner-lg"></div>
