<h2>Pulp Repositories</h2>

<div class="col-md-12 list-view-container">
    <div infinite-scroll="load_more()" infinite-scroll-distance="2"
         infinite-scroll-disabled="loading">
        <div pf-list-view config="config" items="items">
            <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                    <a ui-sref="repository({repo_id: item.id })">
                        {{item.id}}
                    </a>
                </div>
                <div class="list-group-item-text">
                    {{ item.description }}
                </div>
            </div>
            <div class="list-view-pf-additional-info" ng-if="!item.total_content_units">
                <div class="list-view-pf-additional-info-item">
                    Empty Repository
                </div>
            </div>
            <div class="list-view-pf-additional-info" ng-if="item.total_content_units">
                <div class="list-view-pf-additional-info-item">
                    <span class="pficon pficon-image"></span>
                    <strong>
                        {{ item.content_unit_counts.docker_image || 'No' }}
                    </strong>
                    Images
                </div>
                <div class="list-view-pf-additional-info-item">
                    <span class="fa fa-certificate"></span>
                    <strong>
                        {{ item.content_unit_counts.docker_blob || 'No' }}
                    </strong>
                    Blobs
                </div>
                <div class="list-view-pf-additional-info-item">
                    <span class="fa fa-tags"></span>
                    <strong>
                        {{ item.content_unit_counts.docker_tag || 'No' }}
                    </strong>
                    Tags
                </div>
                <div class="list-view-pf-additional-info-item">
                    <span class="fa fa-file-text"></span>
                    <strong>
                        {{ item.content_unit_counts.docker_manifest || 'No' }}
                    </strong>
                    Manifests
                </div>
            </div>
        </div>
    </div>
    <div ng-show="loading" class="spinner spinner-lg"></div>
</div>
